<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SMATWEB">
<parameter name="APEX URL" value="https://in-srddb.ingrnet.com:8443/apex/sdb123/f?p=101:LOGIN"/>

	<test name="ADMIN">
		<packages>
			<package name="AdminModule.Smatweb" />

		</packages>

	</test> <!-- Test -->
</suite> <!-- Suite -->
